.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
.gitignore
.git/**
esbuild.mjs
tsconfig*.json
**/*.map
**/*.ts
STATUS.md
LISTING.md
MARKETING.md
.github/**
scripts/**
images/icon-256.png
samples/**
images/icon-256.png
samples/**
test/**
